    <% provide(:sheet, "services") %>
    <!-- Main jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>Services</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="bar"></div>
    <div class="one" id="services">
     <div class="container">
      <!-- Row of columns -->
        <div class="row" id="webdesign">
          <div class="col-md-12">
              <img src="/assets/DesignIpad.jpg">
              <h2>Web Design and Development</h2>
              <p>Give your business the online presence it needs! Our talented team can work closely with you to develop the perfect website. Mobile friendly sites make it easy for users to connect on the go.</p>

          </div>
        </div>
        <hr>
        <div class="row" id="dba">
          <div class="col-md-12">
             <img class="right" src="/assets/data_icon.jpg">
             <h2>Database Design and Development</h2>
              <p>Keep your data organized for easy retrieval and use. We can help you choose the right data solution.</p>

          </div>
        </div>
        <hr>
        <div class="row" id="cloud">
          <div class="col-md-12">
              <img src="/assets/cloud-service.jpg">
              <h2>Cloud Based Solutions</h2>
              <p>Make your data seamlessly available from any device. We can make the migration to Cloud Storage simple.</p>
          </div>
        </div>
        <hr>
        <div class="row" id="social">
          <div class="col-md-12">
              <img class="right" src="/assets/sm.jpg">
              <h2>Social Media Management</h2>
              <p>Connect with your customers using custom pages on all of the most popular social sites.</p>

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
              <img src="/assets/qmark.jpeg">
              <h2>More</h2>
              <p>Don't see what you're looking for? Let us know and we can work with you to come up with the perfect solution.</p>

          </div>
        </div>
      </div>
    </div>